*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-size: cover;
  background-attachment: fixed;
  background-color: #7F0D31;
  background-position: center;
  background-attachment: local;
  background-size: 1400px;
}

header {
  text-align: center;
  position: relative;
  color: #B98E58;
  padding: 20px;
}

footer {
  background-color: #7F0D31;
  color: #B98E58;
  text-align: center;
  padding: 20px;
}
section {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
  background-color: #7F0D31;
  border: 4px solid #1a0101;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-shadow: 1px 1px #1a0101;
}

form {
  margin-top: 20px;
  color: #f1f1f1;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #f5f5f3;
}

input[type="text"], select {
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #d4b00e;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #7F0D31;
  color: #f1f1f1;
}

input[type="password"] {
    width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 5px;
  border: 1px solid #B98E58;
  border-radius: 5px;
color: #B98E58;
background-color: #7F0D31;
}
input[type="number"]{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #d4b00e;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #7F0D31;
  color: #f1f1f1;
}
input[type="email"]{
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #d4b00e;
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #7F0D31;
  color: #f1f1f1;
}
button{
background-color: #B98E58;
  color: #f1f1f1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-image: url('boton.jpg');
  background-size: cover;
}

.button{
     background-color: #B98E58;
  color: #f1f1f1;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  background-image: url('boton.jpg');
  background-size: cover;
}
input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

