*{
   margin: 0px;
    margin-top: 0px;
    padding: 0px;
    color: black;
    font-style: Arial;
    font-size: medium;
}
body{
    background: black;
    color: black;
    background-image: url("../Images/edayo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    position: relative;
}


#arriba {
    width: auto;
    margin: auto;
    overflow: hidden;
    background: white;
}

header {
    margin-top: none;
    height: auto;
    background: #ffffff;
    color: black;
}
header img{
    height: 150px;
    float: left;
}
.botones{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    
}


 #menu{
    width: 200px;
    height: 620px;
    background: rgb(136,32,53);
    float: left; /* menú a la izquierda */
    box-sizing: border-box;
   
}

aside {
    width: auto;
    padding: 20px;
    box-sizing: border-box;
    /* dejar espacio a la izquierda para el menú flotante */
    margin-left: 200px; /* ancho del menú (200) + margen */
}

aside #contenedor {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    width: 1000px;
    height: 400px;
    float: left;
    background: rgb(136,32,53);
    text-align: left;
    background-color: white;
    border-radius: 20px;
    
    margin-top: 15px ;
    margin-left: 15px;


}

@media (max-width: 700px) {
    #menu {
        float: none;
        width: 100%;
        margin: 10px 0;
    }
    aside {
        margin-left: 0;
        padding: 10px;
    }
    aside #contenedor {
        width: 90%;
        aspect-ratio: auto; 
    }
}


img.Perfil {
    align-items: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
    display: inline-block;   
    margin: 8px 12px; 
    border: 2px solid rgba(255,255,255,0.9); 
}
table {
    border-color: black;
    color: rgb(255, 255, 255);
    background-color: #cc3654;
}
table th{
    background-color: #882035;
}