*{
   margin: 0px;
    margin-top: 0px;
    padding: 0px;
    color: black;
    font-style: Arial;
    font-size: medium;
}
body{
    background: black;
    color: black;
    background-image: url("../Images/edayo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    position: relative;
}


#arriba {
    width: auto;
    margin: auto;
    overflow: hidden;
    background: white;
}

header {
    margin-top: none;
    height: auto;
    background: #ffffff;
    color: black;
}
header img{
    height: 150px;
    float: left;
}
.botones{
    background-color: transparent;
    border: none;
    text-decoration: underline;
    
}


#menu h2{
   
    background: rgb(0, 0, 0);
   
}

/* Contenedor principal donde se cargan las tablas dinámicas */
aside #contenedor {
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    width: 700px;
    height: 50px;
    float: left;
    background: rgb(136,32,53);
    text-align: left;
    background-color: white;

}

img.Perfil {
    align-items: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover; 
    display: inline-block;   
    margin: 8px 12px; 
    border: 2px solid rgba(255,255,255,0.9); 
}