/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Fondo general */
body {
  background: linear-gradient(to right, #B98E58, #7F0D31);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor principal */
.Ingreso {
  background-color: white;
  padding: 30px 40px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px;
}

/* Etiquetas de texto */
.Ingreso label,
.Ingreso br,
.Ingreso input {
  margin-bottom: 10px;
}

/* Campo de entrada */
.Ingreso input {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

/* Botones */
.Ingreso button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #7F0D31;
  color: #B98E58;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.Ingreso button:hover {
  background-color: #7F0D31;
}

/* Nombre o mensaje */
#nombreLabel {
  display: block;
  margin-top: 20px;
  font-weight: bold;
  color: #B98E58;
}
